<!DOCTYPE html> 
<html> 
<head> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head> 
<body> 
	<p>You Searched for <%= title %></p>
	<p><%= dvds.length %> dvds found </p>
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Award</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach ($dvds as $dvd) : ?> 
	<% dvds.forEach(function(dvd) { %>
		<tr>
			<td><%= dvd.title %></td>
			<td><%= dvd.award %></td>
		</tr>
	<% 	}); %>
	</tbody>
	</table>
</body
</html> 